- model_class = Project
.page-header
  %h1=t '.title', :default => model_class.model_name.human.titleize

%p
  %strong= model_class.human_attribute_name(:name) + ':'
  %br
  = @project.name
%p
  %strong= model_class.human_attribute_name(:weight) + ':'
  %br
  = @project.weight

%ul.list-inline
  %li
    %h2 Tasks
  %li= link_to 'Add new task', new_project_task_path(project_id: @project), class: 'btn btn-primary'
%ul
  - @project.tasks.each do |task|
    %li
      %ul.list-inline
        %li
          %h4= task.name
        %li= link_to 'Mark As Finished', '#', class: 'btn btn-default'
        %li= link_to 'Remove', '#', class: 'btn btn-danger'

= link_to t('.back', :default => t("helpers.links.back")), projects_path, :class => 'btn btn-default'
= link_to t('.edit', :default => t("helpers.links.edit")), edit_project_path(@project), :class => 'btn btn-default'
= link_to t('.destroy', :default => t("helpers.links.destroy")), project_path(@project), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
